* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html {
    font-size: calc(100vw / 1280 * 10);
}

body {
    font-family: sans-serif;
}

html,
body,
#app {
    height: 100%;
    width: 100%;
    background-color: #FAFAFA;
}

.pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.page__tag {
    font-size: 1rem;
    color: #4D4D4D;
    display: flex;
    align-items: center;
    background-color: #F3F3F3;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 0.6rem;
    pointer-events: none;
    z-index: 5;
}

.page__button-delete {
    text-align: center;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #c1c1c1;
    background: #F3F3F3;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
    transform-origin: center;
    transition: transform 250ms ease-in-out;
    pointer-events: fill;
}

.page__button-delete:hover {
    transform: scale(1.1);
}

.page__actions {
    margin-left: auto;
}

.page__tools {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.page__canvas {
    position: relative;
    width: 50rem;
    height: 50rem;
    background: linear-gradient(0deg, rgba(252, 252, 252, 0.00) 0%, rgba(252, 252, 252, 0.00) 100%), #FFF;
    background-blend-mode: color, luminosity;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.14);
    border: 2px solid #0000000F;
    border-radius: 0.8rem;
    overflow: hidden;
    
    contain: layout paint; // Contain scope for changes
}

.page__canvas-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/public/bg.webp);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.square {
    --background-color: #375dfb;
    --border-color: #c7c7c7;

    position: absolute;
    top: 0;
    left: 0;
    width: 5rem;
    height: 5rem;
    background: linear-gradient(#fff, #d5d5d5);
    border: 2px solid var(--border-color);
    border-radius: 1rem;
    user-select: none;
    transition: border-color 400ms cubic-bezier(0.08,0.82,0.17,1);

    cursor: move;

    contain: layout; // Contain scope for changes -- remove for debug on rendering

    will-change: transform; // Optimaze rasterization -- remove for debug on rendering
}

.square:hover {
    border-color: #8a8a8a;
}

.square__delete {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1rem;
    height: 1rem;
    color: #8a8a8a;
    border: 1px dashed #8a8a8a;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
    transition: transform 600ms cubic-bezier(0.08,0.82,0.17,1);;
}

.square__delete:hover {
    transform: scale(1.2);
}

.square__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: -1;
    box-shadow: 0px 0px 0px 1px #18181820,
    0px 1px 1px -0.5px #18181820,
    0px 3px 3px -1.5px #18181820, 0px 6px 6px -3px #18181820,
    0px 12px 12px -6px #18181820,
    0px 24px 24px -12px #18181820;
    pointer-events: none;
    transition: opacity 200ms ease-in-out;
}

.page-debugger {
    position: fixed;
    top: 2rem;
    left: 2rem;
    height: 10rem;
    width: 20rem;
    border: 2px solid #868c98;
    border-radius: 1rem;
}

.page-debugger__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.page-debugger__form-group {
    display: flex;
    margin-bottom: 0.5rem;
}

.page-debugger__form-group--inputs:nth-child(2) {
    border-top: 1px dashed #868c98;
    padding-top: 0.5rem;
}

.page-debugger__form-group--buttons {
    margin-top: auto;
    justify-content: space-between;
}

.page-debugger__form-label {
    font-size: 1.2rem;
}

.page-debugger__form-input {
    width: 4rem;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    padding: 0 0.5rem;
}

.page-debugger__form-button {
    width: 8rem;
    height: 2rem;
    display: inline-block;
    margin-top: auto;
    border: 1px solid #868c98;
    border-radius: 0.5rem;
    background-color: whitesmoke;
    font-size: 1rem;
    cursor: pointer;
}

.page-debugger__stats {
    font-size: 1.6rem;
    font-weight: 300;
    text-align: center;
    margin-top: 1rem;
}

.page-debugger__stats-total {
    display: inline-block;
    font-weight: bold;
}

.box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border: 2px solid #2C52E5;
    pointer-events: none;

    z-index: 10;
}

.box__grabber {
    --width: 15px;
    --height: 15px;

    position: absolute;
    width: var(--width);
    height: var(--height);
    border-radius: 0.2rem;
    background: linear-gradient(#a4b4f4, #2c52e5);
    border: 2px solid #2c52e5;
    box-shadow: 0px 0px 0px 1px #18181820,
    0px 1px 1px -0.5px #18181820,
    0px 3px 3px -1.5px #18181820, 0px 6px 6px -3px #18181820,
    0px 12px 12px -6px #18181820,
    0px 24px 24px -12px #18181820;

    opacity: 0.3;
    transition: opacity 200ms ease-in-out;

    pointer-events: fill;
    cursor: grab;
}

.box__grabber:hover {
    opacity: 1;
}

.box__grabber--free {

}

.box__grabber--rotation {
    --width: 28px;
    --height: 28px;
    top: calc(var(--height) * -2);
    left: 50%;
    translate: -50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box__grabber--rotation-icon {
    width: 14px;
    height: 14px;
    background-image: url(/public/icon-rotate.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

#GRABBER\.FREE\.TOP_LEFT {
    top: calc(var(--height) / -2);
    left: calc(var(--width) / -2);
}

#GRABBER\.FREE\.TOP_RIGHT {
    top: calc(var(--height) / -2);
    right: calc(var(--width) / -2);
}

#GRABBER\.FREE\.BOTTOM_LEFT {
    bottom: calc(var(--height) / -2);
    left: calc(var(--width) / -2);
}

#GRABBER\.FREE\.BOTTOM_RIGHT {
    bottom: calc(var(--height) / -2);
    right: calc(var(--width) / -2);
}